@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: '#1E1E1E';
}
.text-custom {
  font-size: 1rem; /* Adjust the size as needed */
}

.text-custom-large {
  font-size: 4.5rem; /* Adjust the size as needed */
}
[id]::before {
  content: '';
  display: block;
  height: 80px; /* Adjust this value as needed to account for your fixed header's height */
  margin: -80px 0 0; /* Negative margin to counteract the header's height */
}
